
body {
  margin: 0;
  font-display: optional;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.md-block.preview-content pre {
    background-color: #f7f7f7;
    margin: 8px -16px;
    padding: 16px;
    font-size: 12px;
    font-family: Source Code Pro, Menlo, monospace;
    line-height: 1.4em;
}

.md-block.preview-content pre code {}

.md-block .md-p {
  margin: 16px 0;
  line-height: 1.6em;
}