
{:source-paths ["src" "cli"],
 :http {:port 9640}
 :dependencies [[cumulo/recollect     "0.4.3"]
                [cirru/bisection-key  "0.1.5"]]
 :builds {:app {:target :node-script
                :output-to "target/main.js"
                :main server.main/main!
                :devtools {:after-load server.main/reload!}
                :release {:output-to "dist/main.js"}}}}
